*{
    margin: 0;
    padding:0;
 
}
.container   {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.container .dalam {
    width: 30%;
    margin-top: 100px;
    position: absolute;
}


input[type=text] {
margin: 8px 0;
padding: 10px;
display: flex;
flex-direction:column;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
width: 100%
}


input[type=submit] {
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
cursor: pointer;
}


input[type=submit]:hover {
    background-color: brown;
    border-radius: 4px;
}

input[type=button] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    }
    
    
input[type=button]:hover {
        background-color: brown;
        border-radius: 4px;
    }

fieldset {
   border: 1px solid black;
   padding:10px;
}





